@charset "utf-8";
// @import "~bulma/bulma";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

// Set your brand colors
$white: #ffffff;
$blue: #052CC0;
$blue-dark: #060F8F;

$green: #00C389;
$green-dark: #00ab84;

$blue-grey: #003057;

$grey-darker: #425563;
$grey-dark: #4f758b;
$grey: #7a99ac;
$grey-light: #F2F2FC;
$grey-lighter: #dde5ed;
$red: #ef4136;
$cyan: #00aeef;
$yellow: #fff200;

// Update Bulma's global variables
$family-sans-serif: "Roboto", sans-serif;
$primary: $green;
$link: $green;
$text: $blue-grey;
$text-light: $white;
$light: $grey-light;
$dark: $blue-grey;
// $widescreen-enabled: false;
// $fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $grey-light;
$input-shadow: none;
$radius-small: 1.5px;
$radius: 16px;

$title-weight: 300;

$label-color: $grey;
$label-weight: 400;

@import "./auth.scss";


// Import only what you need from Bulma
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/elements/box.sass";
@import "~bulma/sass/elements/content.sass";
@import "~bulma/sass/form/_all.sass";
@import "~bulma/sass/components/navbar.sass";
@import "~bulma/sass/components/modal.sass";
@import "~bulma/sass/layout/hero.sass";
@import "~bulma/sass/layout/section.sass";
@import "~bulma/sass/grid/columns.sass";


.test {
    background-color: crimson;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fill {
    width: 100%;
    height: 100%;
}

.relative {
    position: relative;
}

input {
    &[type="checkbox"],
    &[type="radio"] {
      margin-right: .5em
    }
  }



$panel-padding: 18px;
.panel {
    .header {
        display: inline-block;
        font-size: 22px;
        font-weight: 300;
        line-height: 1.45;
        color: $text;
        margin-bottom: 10px;
    }
    .controls {
        float: right;
        height: 30px;
        font-size: 22px;
        font-weight: 300;
        line-height: 1.45;
        color: $text;
        margin-bottom: 10px;

        .icon-container {
            height: 30px;
            justify-self: end;

            .icon {
                height: 100%;
                color: $grey;

                &:hover {
                    color: $grey-dark;
                }
            }
        }
    }
    .body {
        background: $white;
        border-radius: $radius;
    }
}

.button { 
    border-radius: 18px;
    font-size: 14px;
    line-height: 1.5;
    height: 36px;
}

.tabs {
    .tab {
        display: inline;
        padding-bottom: 2px;
        margin-right: 1em;
        font-size: 14px;
        color: $grey;
        user-select: none; 
        cursor: pointer;


        &.is-active {
            color: $green;
            border-bottom: 3px solid $green;
        }

        &:not(.is-active):hover {
            color: $grey-dark;
            border-bottom: 3px solid $grey-dark;
        }
    }
}
