.auth {
    line-height: 1.45;
    font-size: 12px;

    .title {
        font-size: 22px;
        font-weight: 300;
        color: $text;
    }
    
    .subtitle {
        color: $text-light;
        font-size: 12px;
    }

    // .field {
    //     font-size: 12px;
    // }

    .button {
        font-size: 12px;
        line-height: 1.5;
        height: 36px;
    }
}

