node_modules/
build/
build-prod/
dist/
test/out
.DS_Store
.idea/*

yarn-error\.log
electron-builder.env

coverage
.nyc_output
tslint/

src/app/assets/fonts/Gotham-Book.otf
src/app/assets/fonts/Gotham-Light.otf
src/app/assets/fonts/Gotham-Medium.otf
